.goods {
  padding: 89px 0 127px;
  background: $background-color-dark;
  color: $font-color-light;

  @media (max-width: $tablet-width) {
    padding: 50px 0 32px;
  }
}

.goods__title {
  @include page-title;
  margin-bottom: 51px;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 32px;
    line-height: 45px;
  }
}

.goods__list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.goods__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 46px;
  }
}
