@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto_condensed_regular.woff2") format("woff2"), url("../fonts/roboto_condensed_regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto_condensed_bold.woff2") format("woff2"), url("../fonts/roboto_condensed_bold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt_mono_regular.woff2") format("woff2"), url("../fonts/pt_mono_regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body.noscroll {
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: $links-font-family;

  &:hover {
    text-decoration: none;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
