// Font
$font-color-light: #ffffff;
$font-color-dark: #666666;
$accent-color: #00b2ff;

// Background
$background-color-light: #e5e5e5;
$background-color-dark: #1b2d37;
$footer-background-color: #fafafa;

// Breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
